section.filters {
	display: flex;
	height: 70px;
	width: 100%;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
}


button.search {
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border-radius: 4px;
	margin: auto 30px auto auto;
}
	/*change opacity to 90% when the mouse is on the button*/
button.search:hover { 
    opacity: 0.9;
}