.places > article {
	width: 390px;
	border-radius: 4px;
	border: 1px solid #FF5A5F;
	text-align: center;
	display: inline-block;
	margin: 15px 20px;
	position: relative;
}

.places > h1 {
	text-align: left;
	vertical-align: top;
}

.places article > h2 {
	font-size: 30px;
	text-align: center;
	display: inline-block;
}

.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
	min-width: 60px;
	max-width: 60px;
	height: 60px;
	font-size: 30px;
	position: absolute;
	left: 310px;
	top: 10px;
}

.price_by_night > h3 {
	margin: 15px 0px 0px 0px;
	font-size: 25px;
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	justify-content: space-around;
	margin: 0px 30px;
}

.information > div{
	text-align: center;
}

.max_guest {
	width: 100px;
}

.icon {
	margin: 0px auto;
}

.icon_group {
	content: url("../images/icon_group.png");
}

.number_rooms {
	width: 100px;
}

.icon_bed{
	content: url("../images/icon_bed.png");
}

.number_bathrooms {
	width: 100px;
}

.icon_bath {
	content: url("../images/icon_bath.png");
}
